@import 'variables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

textarea{
	width: 100%;
	height: 200px;
	resize: none;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}